* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --primary-color: darkblue;
    --secondary-color: #eee;
    --text-dark: #333;
    --text-light: white;
    --border-color: black;
    --shadow-color: gray;
    /* Padding */
    --padding-small: 2px;
    --padding-medium: 10px;
    --padding-large: 20px;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20em;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    padding: 1.5rem;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 110px;
}

aside img {
    width: 200px;
    height: auto;
}

nav {
    background-color: var(--primary-color);
    padding: var(--padding-medium) 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--text-light);
    display: block;
    padding: var(--padding-large) 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--primary-color);
    border-bottom: 2px solid black;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: var(--padding-small);
    box-shadow: 0 0 30px var(--shadow-color);
    float: right;
    margin-left: 1rem;
}

p {
    padding: 0;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

footer {
    text-align: center;
    border-top: 1px solid var(--primary-color);
    padding: 1rem 0;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--border-color);
}